[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Informeasure"]
	path = Informeasure
	url = https://github.com/chupan1218/informeasure
